<div class="container-fluid">
    <div class="row">

        <div class="col-lg-11">
            <div class="row">
                <div class="col-lg-1 center-block text-center">
                    <h3 class="text-left">LEVEL<br/>PROGRESS</h3>
                </div>
                <div class="col-lg-10">
                    <div class="row bs-wizard" style="border-bottom:0;">

                        <!--PROGRESS BAR LEVEL ONE-->
                        <div class="col-xs-2 bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">
                                <button type="button" class="btn btn-default btn-circle">1</button>
                            </div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>

                            <!--<div class="bs-wizard-info text-center">STEP</div>-->
                        </div>

                        <!--PROGRESS BAR LEVEL TWO-->
                        <div class="col-xs-2 bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">
                                <button type="button" class="btn btn-default btn-circle">2</button>
                            </div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>

                            <!--<div class="bs-wizard-info text-center">STEP</div>-->
                        </div>

                        <!--PROGRESS BAR LEVEL THREE-->
                        <div class="col-xs-2 bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">
                                <button type="button" class="btn btn-default btn-circle">3</button>
                            </div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>

                            <!--<div class="bs-wizard-info text-center">STEP</div>-->
                        </div>

                        <!--PROGRESS BAR LEVEL FOUR-->
                        <div class="col-xs-2 bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">
                                <button type="button" class="btn btn-default btn-circle">4</button>
                            </div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>

                            <!--<div class="bs-wizard-info text-center">STEP</div>-->
                        </div>

                        <!--PROGRESS BAR LEVEL FIVE-->
                        <div class="col-xs-2 bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">
                                <button type="button" class="btn btn-default btn-circle">5</button>
                            </div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>

                            <!--<div class="bs-wizard-info text-center">STEP</div>-->
                        </div>

                        <!--PROGRESS BAR LEVEL SIX-->
                        <div class="col-xs-2 bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">
                                <button type="button" class="btn btn-default btn-circle">6</button>
                            </div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>

                            <!--<div class="bs-wizard-info text-center">STEP</div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <h4 class="text-right">TOTAL SCORE</h4>

                    <div id="totalScore">0</div>
                </div>
            </div>
            <div class="row levelsGrid">
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="1">Level 1</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="2">Level 2</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="3">Level 3</button>
                </div>
            </div>
            <div class="row  levelsGrid">
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="4">Level 4</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="5">Level 5</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="6">Level 6</button>
                </div>
            </div>
            <div class="row  levelsGrid">
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="7">Level 7</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="8">Level 8</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-level-choose" type="button" value="9">Level 9</button>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $.getJSON('/customData', function (data) {
            displayUserProgress(data);
        });

        $('button').on('click', function () {
            window.location.href = '/levels/' + $(this).val();
        });
    });
</script>
