<div class="container freetext">
    <div class="row">
        <div class="col-md-12">
            <div class="row main-content">
                <div class="col-md-4 no-padding-right">
                    <h2 class="no-margin">{{title}}</h2>

                    <h3><span id="questionPts" class="label label-default label-lg">0 pts</span>&nbsp;
                        <span style="color: #d14900;" tabindex="0" data-toggle="popover" data-trigger="focus"
                              title="How to score points"
                              data-content="<p><strong>Points available: </strong> (2 x difficulty)</p><p><strong>Incorrect attempt: </strong> -2</p>
                              <p><strong>Bonus points: </strong> +/- 1 for expression length difference as compared to our answer!</p>"
                              class="glyphicon glyphicon-question-sign"></span></h3>
                </div>
                <div class="col-md-6">
                    <div id="msg-box" class="center-block text-center">
                    </div>
                </div>
                <div class="col-md-2">
                    <h4 class="text-right no-margin">TOTAL SCORE</h4>

                    <div id="totalScore">0</div>
                </div>
            </div>
            <div class="container question-container vertical-center">
                <div class="row top-space">
                    <div class="col-md-12 question-box well well-lg">
                        <div class="row">
                            <h3 class="no-top-margin">Question</h3>

                            <div id="questionText" class="col-lg-12">
                                <p>After clicking 'generate', you will see two lists of randomly generated strings below. Build a regular expression that
                                    matches the strings in the <em class="glyphicon glyphicon-ok"></em> column but
                                    doesn't match the strings in the <em class="glyphicon glyphicon-remove"></em>
                                    column. Increase the slider to adjust question difficulty and win more points!
                                </p>

                                <p>Being as the strings are randomly generated, they can get a bit weird. Don't feel bad
                                    about clicking 'Generate' again for a new set, you won't lose any points!</p>

                                <table class="table table-condensed table-hover">
                                    <thead>
                                    <tr>
                                        <th><em class="glyphicon glyphicon-ok"></em> match these</th>
                                        <th><em class="glyphicon glyphicon-remove"></em> don't match these</th>
                                    </tr>
                                    </thead>
                                    <tbody id="testCases">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>difficulty</h4>

                        <div id="slider">

                            <input type="text" class="span2" value="4" id="sl1">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row bottom-space">

                            <div class="input-group">
                                <div class="input-group-addon">RegEx</div>
                                <input autocomplete="on" type="text" id="answerBox" class="form-control"
                                       placeholder="enter answer..."/>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <button class="btn btn-primary center-block disabled" type="button" id="submitBtn"
                                        disabled>
                                    Submit
                                </button>
                                <button class="btn btn-primary center-block hidden" type="button" id="cheat">
                                    CHEAT
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p class="text-muted pos" id="bonusPoints"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="nextButton"
                                class="btn btn-primary btn-lg pull-right" style="display: inline-block;"
                                data-loading-text="loading...">Generate!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<script src="/javascripts/pg-engine.js"></script>
<script src="/javascripts/randexp.min.js"></script>
<script src="/javascripts/bootstrap-slider.js"></script>
<script src="/javascripts/global.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $slider = $('#slider');
        $slider.slider({
            min: 2,
            max: 10,
            value: 4
        });

        $.getJSON("/customData/total_score", function (res) {
            displayTotalScore(res);
        })


        $('[data-toggle="popover"]').popover({
            html: true
        });


        $('#nextButton').on('click', function () {
            $('#testCases').empty();
            $('#msg-box').empty();
            $('#answerBox').val('');
            $(this).removeClass('shake');
            generateProgen($slider.data('slider').getValue());
        })

        $('#answerBox').on('click keypress focus', function (event) {
            $('#msg-box').empty();
            if (event.keyCode == 13) {
                $('#submitBtn').click();
            }
        });

        $('#submitBtn').on('click', function (e) {
            e.preventDefault();
            checkProgenAnswer();
        });

        $('#cheat').on('click', function (e) {
            e.preventDefault();
            $('#answerBox').val(curRegex);
            checkProgenAnswer();
        })
    })

</script>