<div class="container-fluid">
    <h1>Statistics</h1>

    <div class="row-fluid">
        <div class="col-lg-6">
            <h3>My badges</h3>

            <div id="badgeContainer">

            </div>
            <button id="viewBadgeGallery" class="btn btn-primary">View available badges</button>
        </div>
        <div class="col-lg-6">

            <h3>Leaderboard&nbsp;
                <small class="btn" id="btn-refresh"><span class="glyphicon glyphicon-refresh"></span></small>
            </h3>
            <div class="leaderboardWrapper">
                <table class="table table-hover leaderboard">
                    <thead>
                    <tr>
                        <th>name&nbsp;&nbsp;</th>
                        <th>total score&nbsp;&nbsp;</th>
                        <th>badges&nbsp;&nbsp;</th>
                        <th>arcade questions&nbsp;&nbsp;</th>
                        <th>playing since&nbsp;&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="/javascripts/bs-tablesort.js"></script>
<script src="/javascripts/stats.js"></script>
<script type="text/javascript">

    var leaderboardData = {{{json leaderboardData}}};
    $(document).ready(function () {
        displayBadges();
        displayLeaderboard();
        $('#btn-refresh').on('click', function (e) {
            e.preventDefault();
            location.reload();
        })

        $('#viewBadgeGallery').on('click', function(){
            $(this).popover({
                html: true,
                title: 'Badge gallery',
                content: function(){
                    var html = "";
                    for(var i = 1; i <= 8; i++) {
                        html += "<img style=\"max-width: 80px;\" src=\"/images/badges/" + i + ".png\" alt=\"badge " +  i + "\"/>";
                        if(i<=3){html += "<img style=\"max-width: 80px;\" src=\"/images/badges/lev" + i + ".png\" alt=\"badge level" +  i + "\"/>";}
                    }
                    return html;
                },
                trigger: 'focus'
            }).popover('show');
        })
    });

</script>