/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  &.no-margin {
    margin: 0;
  }
}

body {
  padding-top: 50px;
  font-family: 14px/1.5 "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
  background: url('/images/crossword-bkgd.png') repeat top left;
}

// question page
.row.main-content {
  margin-top: 26px;
}

.row div.no-padding-right {
  padding-right: 0px;
}

samp {
  font-weight: bold;
  padding: 0px 4px;
}

span.keyword {
  padding: 2px 4px;
  font-size: 90%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background: @rgba-primary-1;
  color: @rgba-primary-4;
  border-radius: 3px;
}

div.paper-note {
  font-family: 'Courier New', monospace;
  position: relative;
  max-width: 70%;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

div.paper-note:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

div.paper-note:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse {
  background: #744190; /* Old browsers */
  background: -moz-linear-gradient(top, #744190 0%, #5d078b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #744190), color-stop(100%, #5d078b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #744190 0%, #5d078b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #744190 0%, #5d078b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #744190 0%, #5d078b 100%); /* IE10+ */
  background: linear-gradient(to bottom, #744190 0%, #5d078b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#744190', endColorstr='#5d078b', GradientType=0); /* IE6-9 */
}

h1.navbar-brand {
  font-size: 2em;
  color: @rgba-secondary-1-1;
  small {
    color: @rgba-secondary-1-1;
    font-size: 45%;
  }
  a {
    color: @rgba-secondary-1-1;
  }
}

.nav li.userId {
  color: @rgba-secondary-1-1;
  margin-right: 8px;
  font-weight: bold;
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;

  a:hover {
    text-decoration: none;
  }
}

.navbar-fixed-top {
  border-width: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: @rgba-complement-4;
  border: none;
}

.btn-primary {
  background: @rgba-complement-4;
  &:hover {
    background: @rgba-complement-3;
  }
}

#navbar ul li a {
  color: @rgba-secondary-1-1;
}

div.main {
  /*margin: auto 200px;*/
}

div.row.top-space {
  margin-top: 20px;
}

div.row.bottom-space {
  margin-bottom: 20px;
}

div.question-container {
  margin: 0 auto;
}

div.question-box {
  //border : 1 px solid blue;
  min-height: 280px;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  align-items: center;
}

div.answer-box .btn {
  min-height: 100px;
  //border : 1px solid red;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  ul.navbar-nav.homepage {
    float: right;
    a:hover {
      //background-color: @rgba-complement-1;
      box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
    }
  }
}

span.glyphicon {
  margin-right: 8px;
}

/*######    LEVELS CHOOSE     ######*/

.btn-circle {
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 12px;
  background-image: none;
}

.bs-wizard {
  margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: @rgba-primary-1;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: @rgba-primary-3;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: @rgba-primary-1;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #ebebeb;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

// SCORES
#totalScore {
  text-align: right;
  font-size: 3.5em;
  text-shadow: 4px 3px 0 #fff, 7px 5px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Tahoma', 'Geneva', sans-serif;
  margin-bottom: 10px;

}

//STICKY FOOTER

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer .container .text-muted {
  margin: 20px 0;
}

/*END Form Wizard*/

div.levelsGrid button {
  //width: 100%;
  //height: 100%;
  //align-items: center;
  ///*min-width: 280px;*/
  //min-height: 220px;
  //margin: 24px;
}

/*Level progress bar*/
.freetext .progress {
  background: rgba(245, 245, 245, 1);
  border: 2px solid rgba(245, 245, 245, 1);
  border-radius: 25px;
  height: 10px;
}

//LEVEL CHOOSE BUTTONS
.btn-level-choose {
  width: 100%;
  height: 100%;
  align-items: center;
  min-height: 140px;
  margin: 16px 24px;
  font-size: 3em;
  color: #ffffff;
  text-shadow: 0px 0px 3px #4d4d4d;
  line-height: 40px;
  background-color: #009e6e;
  background-image: -moz-linear-gradient(top, #008a60, #00bd83);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008a60), to(#00bd83));
  background-image: -webkit-linear-gradient(top, #008a60, #00bd83);
  background-image: -o-linear-gradient(top, #008a60, #00bd83);
  background-image: linear-gradient(to bottom, #008a60, #00bd83);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008a60', endColorstr='#ff00bd83', GradientType=0);
  border-color: #00bd83 #00bd83 #00714e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #00bd83;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

  &.active, &:active {
    color: rgba(255, 255, 255, 0.75);
    background-color: #008a60;
  }

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #ffffff;
    background-color: #00bd83;
    *background-color: #00a472;
  }

  &.level-complete {
    color: #006143;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
  }
}

/*######    END LEVELS CHOOSE    ######*/

#level-progress-bar {
  background: @rgba-primary-4 !important;
}

/* ########   COLOURS      ######### */

/* Palette URL: http://paletton.com/#uid=70k1A0kisqZ6LrpbArDpxr9w1qc */

/* As hex codes */

@color-primary-0: #D7865B;
/* Main Primary color */
@color-primary-1: #DABCAC;
@color-primary-2: #DCA88C;
@color-primary-3: #D8682C;
@color-primary-4: #D14900;

@color-secondary-1-0: #D7D75B;
/* Main Secondary color (1) */
@color-secondary-1-1: #DADAAC;
@color-secondary-1-2: #DCDC8C;
@color-secondary-1-3: #D8D82C;
@color-secondary-1-4: #D1D100;

@color-secondary-2-0: #744190;
/* Main Secondary color (2) */
@color-secondary-2-1: #877592;
@color-secondary-2-2: #816193;
@color-secondary-2-3: #6A2390;
@color-secondary-2-4: #5D078B;

@color-complement-0: #3C8E75;
/* Main Complement color */
@color-complement-1: #729087;
@color-complement-2: #5D9181;
@color-complement-3: #1D8F6C;
@color-complement-4: #008A60;

/* As RGBa codes */

@rgba-primary-0: rgba(215, 134, 91, 1);
/* Main Primary color */
@rgba-primary-1: rgba(218, 188, 172, 1);
@rgba-primary-2: rgba(220, 168, 140, 1);
@rgba-primary-3: rgba(216, 104, 44, 1);
@rgba-primary-4: rgba(209, 73, 0, 1);

@rgba-secondary-1-0: rgba(215, 215, 91, 1);
/* Main Secondary color (1) */
@rgba-secondary-1-1: rgba(218, 218, 172, 1);
@rgba-secondary-1-2: rgba(220, 220, 140, 1);
@rgba-secondary-1-3: rgba(216, 216, 44, 1);
@rgba-secondary-1-4: rgba(209, 209, 0, 1);

@rgba-secondary-2-0: rgba(116, 65, 144, 1);
/* Main Secondary color (2) */
@rgba-secondary-2-1: rgba(135, 117, 146, 1);
@rgba-secondary-2-2: rgba(129, 97, 147, 1);
@rgba-secondary-2-3: rgba(106, 35, 144, 1);
@rgba-secondary-2-4: rgba(93, 7, 139, 1);

@rgba-complement-0: rgba(60, 142, 117, 1);
/* Main Complement color */
@rgba-complement-1: rgba(114, 144, 135, 1);
@rgba-complement-2: rgba(93, 145, 129, 1);
@rgba-complement-3: rgba(29, 143, 108, 1);
@rgba-complement-4: rgba(0, 138, 96, 1);



