body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

div.main {
    /*margin: auto 200px;*/
}

div.row.top-space {
    margin-top: 20px;
}

div.row.bottom-space {
    margin-bottom: 20px;
}

div.question-container {
    margin: 0 auto;
}

div.question-box {
/ / border : 1 px solid blue;
    min-height: 280px;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    /*display: flex;*/
    align-items: center;
}

div.answer-box .btn {
    min-height: 100px;
/ / border : 1 px solid red;
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    ul.navbar-nav.homepage {
        float: right;
    }
}

span.glyphicon {
    margin-right: 8px;
}

/*######    LEVELS CHOOSE     ######*/

.btn-circle {
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 0px 0;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 12px;
    background-image: none;
}

.bs-wizard {
    margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #fbe8aa;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}

/*END Form Wizard*/

div.levelsGrid button {
    width: 100%;
    height: 100%;
    align-items: center;
    /*min-width: 280px;*/
    min-height: 220px;
    margin: 24px;
}

/*Level progress bar*/
.freetext .progress {
    background: rgba(245, 245, 245, 1);
    border: 2px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    height: 10px;
}

/*######    END LEVELS CHOOSE    ######*/

.level-progress-bar {
    background: rgba(66, 139, 202, 1);
}

/* ########   COLOURS      ######### */

/* Main Primary color */

.primary-0 {
    --primary0: rgba(255, 141, 86, 1);
    color: var(--primary0);
}

.primary-1 {
    color: rgba(255, 255, 255, 1)
}

.primary-2 {
    color: rgba(255, 199, 172, 1)
}

.primary-3 {
    color: rgba(255, 100, 26, 1)
}

.primary-4 {
    color: rgba(2, 1, 1, 1)
}

/* Main Secondary color (1) */

.secondary-1-0 {
    color: rgba(124, 102, 242, 1)
}

.secondary-1-1 {
    color: rgba(255, 255, 255, 1)
}

.secondary-1-2 {
    color: rgba(192, 181, 253, 1)
}

.secondary-1-3 {
    color: rgba(68, 44, 202, 1)
}

.secondary-1-4 {
    color: rgba(1, 1, 1, 1)
}

/* Main Secondary color (2) */

.secondary-2-0 {
    color: rgba(230, 254, 85, 1)
}

.secondary-2-1 {
    color: rgba(255, 255, 255, 1)
}

.secondary-2-2 {
    color: rgba(243, 255, 172, 1)
}

.secondary-2-3 {
    color: rgba(219, 250, 26, 1)
}

.secondary-2-4 {
    color: rgba(1, 1, 1, 1)
}

/* Main Complement color */

.complement-0 {
    color: rgba(81, 242, 185, 1)
}

.complement-1 {
    color: rgba(255, 255, 255, 1)
}

.complement-2 {
    color: rgba(171, 253, 224, 1)
}

.complement-3 {
    color: rgba(20, 198, 135, 1)
}

.complement-4 {
    color: rgba(0, 1, 1, 1)
}
